.my-button {
    -fx-background-image: url('../images/nextArrow.jpg');
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-border-style: none;
}